[submodule "third_party/tflite_micro"]
	path = lib/main/tflite_micro
	url = https://github.com/tensorflow/tflite-micro.git
[submodule "third_party/flatbuffers"]
	path = lib/main/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "third_party/gemmlowp"]
	path = lib/main/gemmlowp
	url = https://github.com/google/gemmlowp.git
[submodule "third_party/ruy"]
	path = lib/main/ruy
	url = https://github.com/google/ruy.git
